*
	box-sizing: border-box
img
	width: 100%
h1,h2,h3,p
	margin: 0
	font-weight: normal
.slide
	height: 100vh
	min-height: 470px
	display: table
	table-layout: fixed
	width: 100%
	&__item
		display: table-cell
		vertical-align: middle 
		width: 100%
.container
	max-width: 1300px
	padding-left: 30px
	padding-right: 31px
	margin: 0 auto
body
	+reg
.title 
	position: relative
	font-size: 40px
	&:before
		content: ''
		position: absolute
		background-size: cover
		width: 27px
		height: 22px
		background-image: url('../img/sheet.svg')
		bottom: 30px
		left: 30px
	&:after
		content: ''
		position: absolute
		width: 27px
		height: 22px
		background-image: url('../img/sheet.svg')
		background-size: cover
		bottom: 30px
		right: 30px
		transform: scale(-1, 1)
		filter: FlipH
.text-uppercase
	text-transform: uppercase
@mixin input-placeholder
  &.placeholder 		
		&:-moz-placeholder
			@content
		&::-moz-placeholder
			@content
		&:-ms-input-placeholder
			@content
		&::-webkit-input-placeholder
			@content
@media (min-width: 992px)
	.nav
		&-menu
			&__link:hover
				transition: 0.3s
				color: $text-hover		
		&-lid
			&__icon:hover
				transition: 0.3s
				color: darken(desaturate($text-hover, 3.57), 8.63)
				border-color: darken(desaturate($text-hover, 3.57), 8.63)
			&__btn:hover
				transition: 0.3s
				color: $burger
				border-color: $burger				
	.btn:hover
		transition: 0.3s
		background-color:	lighten(desaturate($text-hover, 4.62), 7.25)
	.about-lid:hover
		transition: 0.3s
		color: $text-hover
		.about-lid__link
			transition: 0.3s
			color: $text-hover
	.product-slider
		&__prev:hover
			transition: 0.3s
			background-color: $btn-click
		&__next:hover
			transition: 0.3s
			background-color: $btn-click
	.bid-form__link:hover
		transition: 0.3s
		color: $text-hover
	.footer
		&-menu
			&__link:hover
				transition: 0.3s
				color: $text-hover		
		&-lid
			&__phone:hover
				transition: 0.3s
				color: $text-hover		
			&__icon:hover
				transition: 0.3s
				color: darken(desaturate($text-hover, 3.57), 8.63)
				border-color: darken(desaturate($text-hover, 3.57), 8.63)
			&__btn:hover
				transition: 0.3s
				color: $burger
				border-color: $burger
	.popup__exit:hover
		transition: 0.3s
		color: $burger
@media (max-width: 768px)
	.title
		font-size: 20px
@media (max-width: 576px) and (min-width: 320px)
	.container
		padding-left: 11px
		padding-right: 23px
		&-sect
			padding-left: 18px
			padding-right: 28px
		&-prod
			padding-left: 0
			padding-right: 0
	.title
		&:before
			left: 17px
			bottom: 8px
			width: 14px
			height: 12px
		&:after
			right: 17px
			bottom: 8px
			width: 14px
			height: 12px
